<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
>
<head>
    <title>new order page</title>
    <!--    <script src="content-script.js"></script>-->
</head>
<body>
<section layout:fragment="content">
    <form action="/orders" method="post" accept-charset="UTF-8">
        <div class="mb-3 form-group">
            <label for="checkInTime" class="form-label">Check In Date:</label>
            <input type="datetime-local" class="form-control" id="checkInTime" name="checkInTime" placeholder="Check In Date">
        </div>
        <div class="mb-3 form-group">
            <label for="checkoutTime" class="form-label">Check Out Date:</label>
            <input type="datetime-local" class="form-control" id="checkoutTime" name="checkoutTime" placeholder="Check Out Date">
        </div>
        <div class="mb-3 form-group">
            <label for="roomTypeId" class="form-label">Room Type Id:</label>
            <select class="form-select" id="roomTypeId" name="roomTypeId">
                <option th:each="roomType : ${roomTypeList}" th:value="${roomType.id}" th:text="${roomType.type}"></option>
            </select>
        </div>
        <div class="mb-3 form-group">
            <label for="roomsCount" class="form-label">rooms count:</label>
            <input type="number" class="form-control" id="roomsCount" name="roomsCount" placeholder="rooms count">
        </div>

        <div class="mb-3 form-group">
            <label for="peopleCount" class="form-label">people count:</label>
            <input type="number" class="form-control" id="peopleCount" name="peopleCount" placeholder="people count">
        </div>

        <div class="mb-3 form-group">
            <input type="checkbox" class="form-check-input" id="withOrWithoutChildren" name="withOrWithoutChildren">
            <label class="form-check-label"  for="withOrWithoutChildren">with or without children:</label>
        </div>

        <div class="mb-3 form-group" style="display: none">
            <label for="hotelId" class="form-label" >hotel id:</label>
            <input type="number" class="form-control" id="hotelId" name="hotelId" th:value="${hotel.id}" placeholder="hotel id">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</section>
</body>
</html>