<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin_layout.html}"
>
<head>
    <title>Content page</title>
    <!--    <script src="content-script.js"></script>-->
</head>
<body>
<section layout:fragment="content">
    <h3>订单列表:</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">username</th>
            <th scope="col">nickname</th>
            <th scope="col">phone</th>
            <th scope="col">operate</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, iter: ${users}">
            <th scope="row" th:text="${iter.index} + 1"></th>
            <td th:text="${user.username}"></td>
            <td th:text="${user.nickname}"></td>
            <td th:text="${user.phone}"></td>
            <td><a th:href="@{'/admin/users/'+ ${user.username} + '/edit'}"><button type="button" class="btn btn-primary">edit</button></a></td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>

